$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$text-color: #000000;
$button-color: #000000;

%font-basic {
  font-family: $font-stack;
  font-size: 1rem;
}

body {
  @extend %font-basic;
  color: $text-color;
  margin: 0;
  background-color: lightblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  text-align: center;
}

@media (min-width: 85rem) {
  $header-height: 10vh;
  $body-vertical-margin: 2rem;

  .App-header {
    background-color: #282c34;
    height: $header-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(0.625rem + 2vmin);
    color: white;
  }

  .App-body {
    box-sizing: border-box;
    height: calc(100% - #{$header-height} - #{$body-vertical-margin}*2);
    width: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: darkorchid solid 0.5rem;
    border-radius: 1rem;
    margin: $body-vertical-margin auto;
    padding: 2rem;
  }
}

.NavigationButton {
  width: 16rem;
  border: blue solid 0.5rem;
  border-radius: 0.5rem;
}

.NavigationButton-link {
  text-decoration: none;
  color: $button-color;
  background-color: deepskyblue;
  display: block;
  padding: 1rem 2rem;
}

.NavigationButton-link:hover {
  color: $button-color;
  background-color: aqua;
}

.NavigationButton-link:active {
  color: $button-color;
  background-color: dodgerblue;
}

.Choices-option {
  background-color: cornflowerblue;
  border-radius: 0.5rem;
  border-color: darkslateblue;
  border-style: solid;
  border-width: 0.5rem;
}

.Choices-option:hover {
  background-color: blue;
  color: white;
}

.Choices-no-hover {
  pointer-events: none;
}

.Choices-selected {
  background-color: red;
  color: white;
}

.Choices-correct {
  background-color: green;
  color: white;
}