$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$breakpoint-small: 50rem;
$breakpoint-big: 85rem;

$text-color: #000000;
$button-color: #000000;

$app-body-border: darkorchid solid 0.5rem;
$app-body-border-radius: 1rem;

%flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: $breakpoint-big) {
  $app-body-width: 65rem;

  %font-basic {
    font-family: $font-stack;
    font-size: 2rem;
  }

  %font-highlight {
    font-family: $font-stack;
    font-size: 3rem;
  }

  %app-body {
    width: $app-body-width;
    border: $app-body-border;
    border-radius: $app-body-border-radius;
  }

  %choices-option {
    width: calc(#{$app-body-width} - 10rem);
  }

  %navigationButton {
    width: 30rem;
  }
}

@media (min-width: $breakpoint-small) and (max-width: $breakpoint-big) {
  $app-body-width: 45rem;

  %font-basic {
    font-family: $font-stack;
    font-size: 1.5rem;
  }

  %font-highlight {
    font-family: $font-stack;
    font-size: 2.25rem;
  }

  %app-body {
    width: $app-body-width;
    border: $app-body-border;
    border-radius: $app-body-border-radius;
  }

  %choices-option {
    width: calc(#{$app-body-width} - 6rem);
  }

  %navigationButton {
    width: 20rem;
  }
}

@media (max-width: $breakpoint-small) {
  $app-body-width: 100vw;

  %font-basic {
    font-family: $font-stack;
    font-size: 1rem;
  }

  %font-highlight {
    font-family: $font-stack;
    font-size: 1.75rem;
  }

  %app-body {
    width: $app-body-width;
  }

  %choices-option {
    width: calc(#{$app-body-width} - 4rem);
  }

  %navigationButton {
    width: 16rem;
  }
}

body {
  @extend %font-basic;
  color: $text-color;
  margin: 0;
  background-color: lightblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  text-align: center;
}

$header-height: 10vh;
$body-vertical-margin: 2rem;

.App-header {
  @extend %flex-column-center;
  background-color: #282c34;
  height: $header-height;
  font-size: calc(0.625rem + 2vmin);
  color: white;
}

.App-body {
  @extend %app-body;
  box-sizing: border-box;
  height: calc(100% - #{$header-height} - #{$body-vertical-margin}*2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: $body-vertical-margin auto;
  padding: 2rem;
}

.Home {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.Home-information {
  @extend %flex-column-center;
}

.Home-navigation-container {
  @extend %flex-column-center;
}

.NavigationButton {
  @extend %navigationButton;
  border: blue solid 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.NavigationButton-link {
  text-decoration: none;
  color: $button-color;
  background-color: deepskyblue;
  display: block;
  padding: 1rem 2rem;
}

.NavigationButton-link:hover {
  color: $button-color;
  background-color: aqua;
}

.NavigationButton-link:active {
  color: $button-color;
  background-color: dodgerblue;
}

.NavigationButton p {
  margin: 0;
}

.Choices-container {
}

.Choices-option {
  @extend %choices-option;
  box-sizing: border-box;
  background-color: cornflowerblue;
  border-radius: 0.5rem;
  border-color: darkslateblue;
  border-style: solid;
  border-width: 0.5rem;
  margin: 0.25em 0;
  padding: 1rem 2rem;
}

.Choices-option:hover {
  background-color: blue;
  color: white;
}

.Choices-no-hover {
  pointer-events: none;
}

.Choices-selected {
  background-color: red;
  color: white;
}

.Choices-correct {
  background-color: green;
  color: white;
}

.TimeTrialChallenge-container {
  @extend %flex-column-start;
  height: 100%;
}

.TimeTrialChallenge-flag-container {
  height: 30%;
  margin: 0.5rem 0 2rem 0;
}

.TimeTrialChallenge-flag {
  height: 100%;
}

.TimeTrialChallenge-timer {
  @extend %font-highlight;
  margin: 1rem 0;
}

.TimeTrialStart {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.TimeTrialStart-navigation-container {
  @extend %flex-column-center;
}

.TimeTrialStart-information {
  @extend %flex-column-center;
}